@model PokemonCardCollector.Models.Collection
@{
    ViewData["Title"] = "Create";
}

<h1 class="pokemon-font">Create New Collection</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="pokemon-font" id="collectionForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="userEmail" name="userEmail" value="@ViewBag.UserEmail" />
            <div class="form-group">
                <label asp-for="Name" class="control-label pokemon-font"></label>
                <input asp-for="Name" class="form-control bubble" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label pokemon-font"></label>
                <input asp-for="Description" class="form-control bubble" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label pokemon-font">Cards in Collection</label>
                <select name="SelectedCards" class="form-control bubble" multiple>
                    @foreach (var card in ViewBag.UserCards)
                    {
                        <option value="@card.Value">@card.Text</option>
                    }
                </select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary bubble" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="pokemon-font" asp-action="Index">Back to Collections</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}