@{
    ViewData["Title"] = "Welcome to your Pokemon Card Collector";
}

<div class="text-center">
    <h1 class="display-4">Save your card collecting progress and see which cards you still need!</h1>
</div>
<div> 
    <p>Enter your cards in, or enter cards you want! Add them to collections to further categorize them </p>
</div>
