
@{
    ViewData["Title"] = "Welcome to your Pokemon Card Collector";
}

<div class="text-center">
    <h1 class="pokemon-font">Save your card collecting progress and see which cards you still need!</h1>
</div>
